@page "/"
@inherits ThermostatBase

@if (status == null)
{
     <div class="jumbotron vertical-center">
          <div class="container text-center">
            <FluentProgressRing></FluentProgressRing>
        </div>
    </div>
}
else
{
    <div class="jumbotron vertical-center">
        <div class="container">
            <div class="row "><input type="button" id="temp_plus" class="btn btn-lg btn-danger btn-block" value="+" @onclick="TempUp"/></div>
            <div class="row row-eq-height">
                <div id="tempValue" class="h3 font-weight-normal text-right col-6">@status.Temperature.ToString("##.#")</div>
                <div id="setpointValue" class="h3 font-weight-normal text-right setpoint col-6">@status.CurrentSetpoint.ToString("##.#")</div>
            </div>
            <div class="row"><input type="button" id="temp_minus" class="btn btn-lg btn-primary btn-block" value="-" @onclick="TempDown" /></div>
            <div class="row row-eq-height">
                <div id="OverrideDuration" class="col-5 text-center"><input type="range" step="60" min="0" max="720"
               @bind-value="@OverrideEndInMinutes" @bind-value:event="oninput"
               @onmouseup="ChangeSetpointDuration" @ontouchend="ChangeSetpointDuration"></div>
               <div class="col-5 text-center">@OverrideUntil</div>
                <div class="col-2 text-center"><input id="reset" type="button" class="btn btn-secondary" value="CE" @onclick="Reset"/></div>
            </div>

            <div class="row row-eq-height">
                <div class="h5 font-weight-normal text-center col-3">Status:</div>
                <div class="h5 font-weight-normal text-center col-3"><img id="heaterIO" src="@HeaterIcon"></div>
                <div class="h5 font-weight-normal text-center col-3">Link:</div>
                <div class="h5 font-weight-normal text-center col-3"><img id="connection" src="@ConnectionIcon"></div>
            </div>

            <div class="row row-eq-height">
                <div class="h5 font-weight-normal text-center col-3">Humidity:</div>
                <div class="h5 font-weight-normal text-center col-3">
                    <div id="humidityValue">@status.Humidity.ToString("##")</div>
                    <div class="h5 font-weight-normal text-center col-3"></div>
                    <div class="h5 font-weight-normal text-center col-3"></div>
                </div>
            </div>
        </div>
    </div>
}